html, body {
    height: 50%;
    margin: 0;
    padding: 0;
}
body{
   
    margin: 50px;
    padding: 0;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(180, 239, 243);

}

i{
    color: white;
    padding: 20px 30px;
    font-size: 1000px;
    background-color: rgb(52, 185, 197);
    border-radius: 20px;
}

p{
    background-color: rgb(52, 185, 197);
    padding: 20px;
    color: rgb(255, 255, 255);
    line-height: 25px;
    border-radius: 20px;
    
}

h3{
    color: rgb(255, 255, 255);
     background-color: rgb(52, 185, 197);
    border-radius: 20px;
    padding: 10px;

}

.back a{
    text-decoration: none;
    color: aliceblue;
    background-color: rgb(52, 185, 197);
    font-size: 7px;
    border-radius: 20px;
    
    

}

.back{
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgb(52, 185, 197);
    padding: 10px 40px;
    border-radius: 20px;
    
}

h4{
    background-color: rgb(52, 185, 197);
    color: aliceblue;
    border-radius: 10px;
      display: flex;
            align-items: center;
            gap: 10px;
            margin: 10px 0;
            font-size: 18px;
            text-decoration: none;
}


a{
    text-decoration: none;
    color: aliceblue;
}
